.fa.active {
  font-weight: 700;
  color: #f52b12;
}
.fa.hover {
  font-weight: 700;
  color: blue;
}
li .float {
  float: right;
  -webkit-transition: color 0.3s ease, font-size 0.3s ease;
  margin-top: -30px;
  font-size: 20px;
}
li .float:hover {
  color: #e90303;
  font-size: 25px;
  cursor: pointer;
}
.hovered {
  color: green !important;
  font-size: 16px;
}
