<!-- <div class="jumbotron">
	<img src="http://sketchingwithhardware.files.wordpress.com/2014/04/grumpycat.png" alt="Grummy cat face"><br>
</div> -->
<div class="row" ng-controller='TodoController'>
	<center><img style="width:400px;margin:20px 0;" src="images/gruumycat.png" alt="Grummy cat face"></center>
	<div class="col-lg-12" style="margin-bottom:40px;">
		<div ng-show="isError" class="alert alert-danger">
				<strong>Ну вот опять!</strong> Ну напиши хоть что нибуть
		    </div>
		<form class="input-group" ng-submit='addToDo()'>
			<input type="text" class="form-control" ng-model="todoText">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit"><i class="fa fa-plus"></i></button>
			</span>
		</form>
	</div>
	<div class="col-lg-12">
		<center>
			<button ng-click="tab = 1" type="button" class="btn btn-primary">Текущие</button>
			<button ng-click="tab = 2" type="button" class="btn btn-danger">Удаленые</button>
		</center>
	</div>
	<div class="col-lg-12">
	<hr>
		<ul ng-show='tab === 1' class="list-group">
			<li class="list-group-item done-is-{{item.isDone}}" ng-repeat="item in todoList track by item.id">
				<input type="checkbox" ng-model="item.isDone" ng-click='doneTodo(item)'>
				{{item.text}} 
				<todo-rating  ng-model="item.rating">
				</todo-rating>
				<i  ng-click="deleteTodo(item)" class="fa fa-times float"></i>
			</li>
		</ul>

		<ul ng-show='tab === 2' class="list-group">
			<li  class="list-group-item done-is-{{item.isDone}}" ng-repeat="item in removeTodoList  track by item.id">
				<input  type="checkbox" ng-model="item.isDone">
				{{item.text}}
				<todo-rating ng-model="item"></todo-rating>
				<i ng-click="restoreTodo(item)"  class="fa fa-refresh float"></i>
			</li>
		</ul>
	</div>
	<div class="col-lg-12">
		<center style='margin-bottom:20px;'>
			<h1>Комментарии:</h1>
			<button ng-click="showComment = true" type="button" class="btn btn-success">Оставить комментарий</button>
		</center>
	</div>
	<div class="col-lg-12">
		<form ng-show='showComment' class="navbar-form navbar-left" ng-submit='addComment()'>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Имя" ng-model='commentAuthor'>
				<button type="submit" class="btn btn-default" ng-click="showComment = false">Отправить</button>
				<textarea rows="5" cols="105" type="text" class="form-control" placeholder="Комментарий" ng-model='commentText'></textarea>
			</div>
			
		</form>
	</div>
	<div class="col-lg-12">
	 	<div ng-repeat='item in todoComments track by item.id'>
	 		<div class="media comment">
		      <div class="media-body">
		        <h4 class="media-heading">{{item.author}}</h4><small>Написал(а)  {{item.date | date:'dd.mm.yyyy'}} в {{item.date | date:'hh:mm:ss'}}</small>
		        <todo-rating class='rt' ng-model="item.rating"></todo-rating>
		        {{item.text}}
		      </div>
		    </div>
	 	</div>
	</div>
</div>
